.fondo {
  background-color: var(--bs-gray-900);
}

.fondo:hover {
  background-color: var(--bs-danger);
}

.foto:hover {
  filter: brightness(2);
}

.card-img {
}

.card-img {
}

.footer-dark:hover {
  background-color: var(--bs-pink);
}

